/* General Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #aab2bb;
  color: #57a7f6;
}

header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 20px;
}

/* Container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.container > section {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Form Section */
.form-section label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.form-section input,
.form-section textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 100px;
}

button.reset-button {
  background-color: #760606;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.reset-button:hover {
  background-color: #cc0000;
}

/* Preview Section */
.preview-section .preview-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

.preview-card h3.name {
  font-size: 1.5rem;
  color: #55a2ff;
  margin-bottom: 10px;
}

.preview-card p.bio {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.preview-card h4 {
  margin-bottom: 5px;
}

.preview-card p.skills {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}
button.download-pdf {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.download-pdf:hover {
  background-color: #218838;
}


.preview-card .links a {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.preview-card .links a:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .form-section,
  .preview-section {
    width: 100%;
  }
}
